/* mainVisual
============================================================= */
.root {
  position: relative;
  overflow: hidden;
  display: grid;
  place-content: center;
  height: 100vh;
  height: 100dvh;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

/* loading
============================================================= */
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

.loading {
  position: fixed;
  z-index: 2;
  inset: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  display: grid;
  place-content: center;
  font-size: 32px;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader__inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

.curtain {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  @include mq {
    scale: 1.2;
  }
  @include mq-sp {
    scale: 1.3;
  }
}
