.root {
  display: flex;

  a {
    display: grid;
    place-content: center;
    transition: scale 0.3s;
    width: 48px;
    height: 48px;
    border-radius: 50%;

    svg {
      width: 20px;
      height: 100%;
    }

    @include hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }
}
