---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../layouts/Section.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
import { Heading } from "../components/Heading/Heading";
import Button from "../components/Button.astro";

const pageTitle = "Not found";
---

<BaseLayout underlayer pageTitle={pageTitle}>
  <Section>
    <ContentLayout>
      <Heading as="h1">{pageTitle}</Heading>
      <div class="contents">
        <p class="textCenter">お探しのページは存在しないようです。</p>
        <div class="notFound-button"><Button href="/">Topに戻る</Button></div>
      </div>
    </ContentLayout>
  </Section>
</BaseLayout>

<style lang="scss">
  .contents {
    margin-top: 40px;
  }

  .notFound-button {
    margin-top: 40px;
  }
</style>
