---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
import { Heading } from "../components/Heading/Heading";
import { MainVisual } from "../components/MainVisual/MainVisual";
import Section from "../layouts/Section.astro";
import Button from "../components/Button.astro";
import Box from "../components/Box.astro";
import { Image } from "astro:assets";
import landscape from "../assets/images/landscape.jpg";
import avator from "../assets/images/avatar.png";
import Link from "../components/Link.astro";
---

<BaseLayout>
  <MainVisual client:load />
  <div class="sceneImage">
    <Image src={landscape} alt="Lake Tekapo" class="cover" />
  </div>
  <Section id="about">
    <ContentLayout size="s">
      <Heading center>About</Heading>
      <div class="contents">
        <div class="about__grid">
          <div class="about__image">
            <Image
              src={avator}
              width={280}
              height={280}
              alt="mikuのアイコン"
              class="fit"
            />
          </div>
          <p>
            Hi I'm miku.I'm a Front-end engineer.<br />
             When I introduce mysellf, I'm often asked "Don't you have a
            website?",so I created my website.
          </p>
          <p>
            I like traveling abroad and talk to people!<br />
             I want to speak English fluenty, so I made that my goal this
            year(2024)<br />
             I don't know much about constellations,but I like starry skies.
            <br />Thank you!
          </p>
        </div>
        <div class="about__button">
          <Button href="/about" class="center">About me</Button>
        </div>
      </div>
    </ContentLayout>
  </Section>
  <Section class="bgGray" id="skill">
    <ContentLayout size="s">
      <Heading center>Skill</Heading>
      <div class="contents">
        <div class="skill__list">
          <Box>HTML</Box>
          <Box>CSS</Box>
          <Box>SCSS</Box>
          <Box>JavaScript</Box>
          <Box>TypeScript</Box>
          <Box>React</Box>
          <Box>Next.js</Box>
          <Box>Astro</Box>
        </div>
      </div>
    </ContentLayout>
  </Section>
  <Section id="production">
    <ContentLayout size="s">
      <Heading center>Production</Heading>
      <div class="contents">
        <p class="textCenter">
          <Link href="https://miku-shio.github.io/todo-app/" target="_blank">
            Todo List
          </Link>
        </p>
      </div>
    </ContentLayout>
  </Section>
</BaseLayout>

<style lang="scss">
  .contents {
    margin-top: 40px;
    @include mq-sp {
      padding: 0 16px;
    }
  }
  .sceneImage {
    overflow: hidden;
    margin-inline: auto;
    border-radius: 40px;
    @include mq-sp {
      height: 50vw;
    }
  }

  .about__grid {
    display: grid;
    margin-top: 40px;

    @include mq {
      grid-template:
        auto 1fr /
        min(20vw, 260px) 1fr;
      gap: 0 40px;
    }

    & > p {
      &:nth-of-type(n + 2) {
        margin-top: 24px;
      }
    }
  }

  .about__image {
    @include mq-sp {
      width: min(64.1vw, 250px);
      margin: 0 auto 32px;
    }

    @include mq {
      grid-row: 1/3;
    }
  }

  .about__button {
    @include mq-sp {
      margin-top: 48px;
    }
    @include mq {
      margin-top: 40px;
    }
  }

  .skill__list {
    display: grid;

    @include mq-sp {
      gap: 16px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq {
      gap: 24px;
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.fromTo(
    ".sceneImage",
    { scale: 0.8 },
    {
      scrollTrigger: {
        trigger: ".sceneImage",
        toggleActions: "play none none reverse",
        start: "-50 center",
        end: "bottom center",
        scrub: true,
      },
      scale: 1,
      borderRadius: 0,
    },
  );

  gsap.fromTo(
    ".box",
    {
      rotate: 10,
      yPercent: 10,
      opacity: 0,
    },
    {
      scrollTrigger: {
        trigger: ".skill__list",
        start: "top center",
      },
      ease: "expo.out",
      stagger: 0.1,
      rotate: 0,
      opacity: 1,
      yPercent: 0,
    },
  );
</script>
