---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
import { Heading } from "../components/Heading/Heading";
import MainVisual from "../components/MainVisual.astro";
import Section from "../layouts/Section.astro";
import Button from "../components/Button.astro";
import Box from "../components/Box.astro";
import { Image } from "astro:assets";
import landscape from "../assets/images/landscape.jpg";
import Link from "../components/Link.astro";
---

<BaseLayout>
  <MainVisual />
  <div class="sceneImage">
    <Image src={landscape} alt="Lake Tekapo" class="cover" />
  </div>
  <Section class="bgGray" id="skill">
    <ContentLayout size="s">
      <Heading center>Skill</Heading>
      <div class="contents">
        <div class="skill__list">
          <Box>HTML</Box>
          <Box>CSS</Box>
          <Box>SCSS</Box>
          <Box>JavaScript</Box>
          <Box>TypeScript</Box>
          <Box>React</Box>
          <Box>Next.js</Box>
          <Box>Astro</Box>
        </div>
      </div>
    </ContentLayout>
  </Section>
</BaseLayout>

<style lang="scss">
  .contents {
    margin-top: 40px;
    @include mq-sp {
      padding: 0 16px;
    }
  }
  .sceneImage {
    overflow: hidden;
    margin-inline: auto;
    border-radius: 40px;
    @include mq-sp {
      height: 50vw;
    }
  }

  .skill__list {
    display: grid;

    @include mq-sp {
      gap: 16px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq {
      gap: 24px;
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.fromTo(
    ".sceneImage",
    { scale: 0.8 },
    {
      scrollTrigger: {
        trigger: ".sceneImage",
        toggleActions: "play none none reverse",
        start: "-50 center",
        end: "bottom center",
        scrub: true,
      },
      scale: 1,
      borderRadius: 0,
    },
  );

  gsap.fromTo(
    ".box",
    {
      rotate: 10,
      yPercent: 10,
      opacity: 0,
    },
    {
      scrollTrigger: {
        trigger: ".skill__list",
        start: "top center",
      },
      ease: "expo.out",
      stagger: 0.1,
      rotate: 0,
      opacity: 1,
      yPercent: 0,
    },
  );
</script>
