---
interface Props {
  href: string;
  class?: string;
}
import { Icon } from "astro-iconify";

const { href } = Astro.props;
---

<a href={href} class:list={["button", Astro.props.class]}>
  <slot />
  <Icon name="majesticons:arrow-up-line" class="button__icon" />
</a>

<style lang="scss">
  .button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    color: var(--color-white);
    border: none;
    background: var(--color-primary);
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    transition-property: color, background, border;
    transition-duration: 0.3s;
    min-height: 48px;

    @include mq {
      padding: 8px 24px;
      min-width: 240px;
    }
    @include mq-sp {
      padding: 8px 24px;
      width: 100%;
    }

    @include hover {
      background: var(--color-hover);
      .button__icon {
        translate: 5px;
      }
    }
  }

  .button__icon {
    width: 24px;
    height: 100%;
    rotate: 90deg;
    flex-shrink: 0;
    transition: translate 0.3s;
  }

  .center {
    @include mq {
      margin-inline: auto;
    }
  }
</style>
