---
import Heading from "./Heading.astro";
import mainvisual from "../images/mainVisual.jpg";
---

<div class="mainVisual">
  <Heading Element="h1">Hi ,I'm Miku.<br />I love freedom!</Heading>
</div>

<style lang="scss">
  .mainVisual {
    display: grid;
    place-content: center;
    height: 100vh;
    height: 100dvh;
  }
</style>
