---
interface Props {
  center?: boolean;
}
const { center } = Astro.props;
---

<p class:list={["text", { center: center }]}><slot /></p>

<style lang="scss">
  .text {
    & + .text {
      margin-top: 24px;
    }
  }

  .center {
    text-align: center;
  }
</style>
